body{
    background-image: url(Ecología\ concepto\ de\ planeta\ verde\ anime….jpeg);
    color: aliceblue;

    
}

.Caja{
    width: 300px;
    background-image: url(xx.jpeg);
    border: 1px;
    
}
.Comen{
    padding: 70px;
}
